.header-container {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-container-inner {
    width: 50%;
  }
  .header-container-inner h1 {
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  
  .header-container-inner p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
  }
  
  .btn:link,
  .btn:visited {
    margin-left: 10px;
    padding: 12px 24px;
    background-color: var(--button);
    color: #fff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
  opacity: 0.5;
}

  
  
  h2 {
    font-size: 44px;
    margin-bottom: 48px;
  }
  
  
  .hero {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ), url("https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  @media (min-width: 900px) and (max-width: 1200px) {
    .header-container {
      width: 80%;
    }
  
    .header-container-inner {
      width: 100%;
      padding-left: 20px;
    }
  
    .header-container-inner h1 {
      font-size: 36px;
      margin-bottom: 16px;
    }
  
    .header-container-inner p {
      font-size: 18px;
      margin-bottom: 24px;
      display: none;
    }
  
    .btn {
      font-size: 14px;
      padding: 10px 20px;
    }
  
    h2 {
      font-size: 32px;
      margin-bottom: 16px;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      height: auto;
      min-height: 400px;
      padding: 50px 0;
      background-position: top;
    }
    .header-container-inner{
      padding-left: 20px;
    }
    .header-container{
      width: 100%;
    }
    .header-container-inner h1 {
      font-size: 28px;
      margin-bottom: 16px;
    }
  
    .header-container-inner p {
      font-size: 16px;
      margin-bottom: 24px;
      display: none;
    }
  
    .btn {
      font-size: 14px;
      padding: 10px 20px;
    }
  
    h2 {
      font-size: 24px;
      margin-bottom: 16px;
    }
  
   
  }